# Object files
*.o
*.ko
*.obj
*.class

# Libraries
*.lib
*.a

# Shared objects
*.so
*.so.*

# Executables
*.out
match
pocketsphinx_continuous

# Folders
/opencv-*
/question-answer
/example/**
*/bin/*
**/log/*
*/doc/*
**/input/*
bits/

# Datasets/databases/other
wiki_indri_index/
*.pb.*
*.pb
*.pickle

# (tar files, if you haven't deleted them)
wiki_indri_index.tar.gz
